/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
    color:#000;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* uis */

.uis {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.ui {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.ui {
  background-color: rgba(0,0,0,0.2);
}

.login.ui .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.ui .form .usernameInput {
  border: none;
  outline: none;
  text-align: center;
  width: 200px;
}

.login.ui .title {
  font-size: 200%;
}

.login.ui .usernameInput {
  background-color: rgba(0,0,0,0.3);
  font-size: 200%;
  letter-spacing: 3px;
}

.login.ui .title, .login.ui .usernameInput {
  font-weight: 100;
}

.user.ui {
	width: 200px;
	height: 50px;
	margin:2px;
  	background-color: rgba(0,0,0,0.2);
  	border-radius: 5px;
}
#userlogin {
	margin:5px;
}

.chat.ui {
  width: 600px;
  bottom: 0;
  left: 0;
  height: 400px;
}

.tab-content {
	height: 335px;
  	background-color: rgba(0,0,0,0.1);
}
.tab-pane {
	height: 100%;
}

/* Font */

.messages {
  padding-bottom: 26px;
}

.inputMessage {
}

.log {
  color: blue;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: solid rgba(0,0,0,0.2);
  bottom: 0;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}