extends layout

block content
    ul(class='list-group', id='messages')
    form(id='chat-box', action='#')
        input(id='m')
block js
  script(src='https://cdn.socket.io/socket.io-1.2.0.js')
  script(src='https://code.jquery.com/jquery-2.2.3.min.js', integrity='sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=', crossorigin='anonymous')
  script.
    var socket = io('localhost:3001');
    $('form').submit(function(){
      socket.emit('chat:message', $('#m').val());
      $('#m').val('');
      return false;
    });
    socket.on('chat:message', function(msg){
      $('#messages').append($('<li>').text(msg));
      $("#messages").prop({ scrollTop: $("#messages").prop("scrollHeight") });
    });
