//- index.jade
extends layout
block content
    div.uis
     include ui/user.jade
     include ui/login.jade
     include ui/chat.jade
block js
  script(src='https://code.jquery.com/jquery-1.10.2.min.js')
  script(src='https://cdn.socket.io/socket.io-1.2.0.js')
  script(data-main='/js/main.js',src='https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.min.js')

